# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de caché
.cache/
.pnp.*
.yarn/*

# Directorios de build/output
dist/
build/
coverage/

# Sistema de archivos OS
.DS_Store
Thumbs.db

# Otros archivos y directorios
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.iml

# Configuracion de la base de datos
src/config/database.js

.gitignore